
:root {
    --main-white-color: #FFF;
    --main-black-color: #111111;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 600px) and (orientation: landscape) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 400px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 401px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

.btn-default {
    padding: 10px 50px 10px 20px;
    border-radius: 10px;
}
.intro-clinic-video {
    /*padding: 50px 0 50px;*/
}
.nocapitalize {
    text-transform: none;
}

.why-choose-content h3 {
    text-transform: none;
}
.cta-box-content h3 {
    text-transform: none;
}
.about-us-body ul li {
    text-transform: none;
}
.btn-default {
    text-transform: none;
}
.footer-links ul li a {
    text-transform: none;
}

.hero.bg-image .hero-content .section-title h1 {
    font-size: 60px;
}

.hero.hero-slider .hero-slider-layout .hero-slide .hero-slider-image img {
    width: 100%;
    height: 100%;
}
.ds-legal {
    margin-top: 30px;
}
.ds-legal h1, h2, h3, h4, h5, h6 {
    line-height: 2.2em;
}